.weatherflow-admin-flexbox {
    display: flex;

}

.weatherflow-admin-form,
.weatherflow-admin-help {
    width: 50%;
    padding: 20px;

}

.weatherflow-admin-wrap {
    background-color: white;
    padding: 20px;
    margin: 10px;
}

.weatherflow-support-link {
    font-size: 18px;
    display: block;
    padding-bottom: 10px;
}